<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<p>
					<span class="copyright">codeo &copy; {{date format="YYYY"}}</span>
					<span class="legal"><a href="/aviso-legal">Aviso legal</a></span>
					<span class="privacity"><a href="/privacidad">Privacidad</a></span>
				</p>
				<span><a href="https://m.do.co/c/4f6e545ee037" target="_blank">Alojado en Digital Ocean</a></span>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<ul class="footer-social">
					<li><a href="{{facebook_url}}" target="_blank">Facebook</a></li>
					<li><a href="{{twitter_url}}" target="_blank">Twitter</a></li>
					<li><a href="mailto:sergio@codeo.co">E-mail</a></li>
					<li><a href="https://github.com/sdpomaricoh" target="_blank">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>