<header>
	<div class="container">
		<div class="mainHeader">
			<div class="logo">
				<a itemprop="url" href="{{@blog.url}}" class="logo-img">
					{{!-- <img src="{{@blog.logo}}" alt="{{@blog.title}}"> --}}
					{{> logo }}
				</a> 
			</div>
			<div class="menuIcon">
				<div class="menuIcon-toggle {{#is "post"}}is-post{{/is}}">
					<span></span>
					<span></span>
					<span></span>
				</div>	
			</div>
		</div>
	</div> 
	{{> menu }}
</header>
{{#post}}
	<div class="progressContainer">
		<span class="progressBar"></span>
	</div>
{{/post}}