<div class="menu">
	<div class="menu-container">
		<a href="javascript:void(0);" class="menu-close menu-close-is-active">
			<div class="menu-close-rotate">
				<span></span>
				<span></span>
			</div>
		</a>
		<nav role="navigation">
			{{navigation}}
		</nav>
		<div class="menu-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="copyright">
							<span>&copy; {{date format="YYYY"}} codeo. Todos los derechos reservados</span>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="social">
							<ul>
								<li><a href="{{facebook_url}}" target="_blank"><i class="ion-social-facebook" aria-hidden="true"></i></a></li>
								<li><a href="{{twitter_url}}" target="_blank"><i class="ion-social-twitter" aria-hidden="true"></i></a></li>
								<li><a href="mailto:sergio@codeo.co"><i class="ion-email"></i></a></li>
								<li><a href="https://github.com/sdpomaricoh" target="_blank"><i class="ion-social-github" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="menu-bg"></div>	
</div>