/*=========================================================
                    Color palette
=========================================================*/

$primary-color:       #f2f2f2;
$dark-primary-color:  #212121;
$light-primary-color: #FFFFFF;

$primary-text:        #777;
$secondary-text:      #757575;

$danger:              #e64a19;
$warning:             #ffa000;
$success:             #4caf50;
