@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('../fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Cooper Hewitt', sans-serif;
	font-size: 16px;
}