/*=========================================================
                    Color palette
=========================================================*/

$primary-color:       #f5f5f5;
$dark-primary-color:  #1D1D1D;
$light-primary-color: #FFFFFF;
$highlight-color:     #34d5cb;
$text-color:          #555555;

$primary-text:        #555;
$secondary-text:      #2B2B2B;

$danger:              #e64a19;
$warning:             #ffa000;
$success:             #4caf50;

$facebook:            #3b5998;
$linkedin:            #0077b5;
$whatsapp:            #25d366;
$twitter:             #1da1f2;

body{
	background-color: $primary-color;
	color: $text-color;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

p{
	line-height: 1.5rem;
	padding: 0;
	position: relative;
	&::selection, &::-moz-selection {
		background: $dark-primary-color;
		color: white;
	}
}

a{
	color: $primary-text;
	display: inline-block;
	text-decoration: none;
	transition: all 0.320s ease 0s; 
	&:hover{
		color: $secondary-text;
		text-decoration: none;
	}
}

img{
	max-width: 100%;
	display: block;
}

form{
	text-align: center;
}

input[type="text"], input[type="email"], textarea {
	background-color: #e0e0e0;
	border: 0;
	display: block;
	height: 50px;
	margin-bottom: 2rem; 
	padding: 10px 25px;
	transition: all 0.2s linear;
	width: 100%;
	&:focus{
		background-color: #bdbdbd;
	}
}

input[type="submit"]{
	background-color: $highlight-color;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 15px 40px;
	text-align: center;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;
	&:hover{
		background-color: $dark-primary-color;
	}
}

textarea{
	height: 160px;
    padding: 20px 25px;
}
