/*=========================================================
                    Color palette
=========================================================*/

$primary-color:       #f5f5f5;
$dark-primary-color:  #1D1D1D;
$light-primary-color: #FFFFFF;
$highlight-color:     #6FE29E;
$text-color:          #555555;

$primary-text:        #555;
$secondary-text:      #2B2B2B;

$danger:              #e64a19;
$warning:             #ffa000;
$success:             #4caf50;

$facebook:            #3b5998;
$linkedin:            #0077b5;
$whatsapp:            #25d366;
$twitter:             #1da1f2;

body{
	background-color: $primary-color;
	color: $text-color;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

p{
	line-height: 1.5rem;
	padding: 0;
	position: relative;
	&::selection, &::-moz-selection {
		background: $dark-primary-color;
		color: white;
	}
}

a{
	color: $primary-text;
	display: inline-block;
	text-decoration: none;
	transition: all 0.320s ease 0s; 
	&:hover{
		color: $secondary-text;
		text-decoration: none;
	}
}

img{
	max-width: 100%;
	display: block;
}

form{
	text-align: center;
}

input[type="text"], input[type="email"], textarea {
	background-color: #e0e0e0;
	border: 0;
	display: block;
	height: 50px;
	margin-bottom: 2rem; 
	padding: 10px 25px;
	transition: all 0.2s linear;
	width: 100%;
	&:focus{
		background-color: #bdbdbd;
	}
}

input[type="submit"]{
	background-color: $highlight-color;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 15px 40px;
	text-align: center;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;
	&:hover{
		background-color: $dark-primary-color;
	}
}

textarea{
	height: 160px;
    padding: 20px 25px;
}

.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
	box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
	height: 80px;
	width: 80px;
	position: relative;
	animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
	.orbit{
		height: 80px;
		width: 80px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		border: calc(80px * 0.03) solid $highlight-color;
		animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
	}
	.circle{
		height: 80px;
		width: 80px;
		color: $highlight-color;
		display: block;
		border-radius: 50%;
		position: relative;
		border: calc(60px * 0.1) solid $highlight-color;
		animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1);
	}
	62.5% {
		transform: scale(0.8);
	}
	75% {
		transform: scale(1);
	}
	87.5% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
	0% {
		transform: scale(1);
		border-color: transparent;
		border-top-color: inherit;
	}
	16.7% {
		border-color: transparent;
		border-top-color: initial;
		border-right-color: initial;
	}
	33.4% {
		border-color: transparent;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
	}
	50% {
		border-color: inherit;
		transform: scale(1);
	}
	62.5% {
		border-color: inherit;
		transform: scale(1.4);
	}
	75% {
		border-color: inherit;
		transform: scale(1);
		opacity: 1;
	}
	87.5% {
		border-color: inherit;
		transform: scale(1.4);
	}
	100% {
		border-color: transparent;
		border-top-color: inherit;
		transform: scale(1);
	}
}

#loading {
	align-items: center;
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    left:0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}
