
.header-is-scroll{
	background-color: $light-primary-color;
}

.header-is-up{
	top: -80px;
}


.menu.menu-is-active{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.35s;
    .menu-container{
    	nav{
    		ul{
    			li{
    				transition:opacity 300ms cubic-bezier(0.6,-0.28,0.735,0.045);
    			}
    		}
    	}
    	.menu-close.menu-close-is-active{
    		opacity: 1;
    		transition: opacity 320ms easecubic-bezier(0.39,0.575,0.565,1);
    		transition-delay: 0.5s;
		}
    }
    .menu-bg{
    	opacity: 1;
    	transition:opacity 1000ms cubic-bezier(0.455,0.03,0,1);
    }
    .menu-footer{
        opacity: 1;
        transition:opacity 1000ms cubic-bezier(0.455,0.03,0,1);
    }
}

.no-padding{
    padding: 0 !important;
}

.postMetaIcon.icon-is-active{
    transform: rotate(90deg);
}
.postMetaContainer.container-is-active{
    bottom: 30% !important;
    margin-bottom: 1.5rem;
    opacity: 1 !important;
    visibility: visible !important;
}
.mainHeader{
    .logo{
        .logo-img{
            svg.is-post.is-logo-scroll{
                fill: black;
            }
        }
    } 
} 
.menuIcon {
    .menuIcon-toggle.is-post.is-toggle-scroll{
        span{
            background-color: black;
        }
    }
}
