
.header-is-scroll{
	background-color: $light-primary-color;
}

.header-is-up{
	top: -80px;
}


.menu.menu-is-active{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.35s;
    .menu-container{
    	nav{
    		ul{
    			li{
    				transition:opacity 300ms cubic-bezier(0.6,-0.28,0.735,0.045);
    			}
    		}
    	}
    	.menu-close.menu-close-is-active{
    		opacity: 1;
    		transition: opacity 320ms easecubic-bezier(0.39,0.575,0.565,1);
    		transition-delay: 0.5s;
		}
    }
    .menu-bg{
    	opacity: 1;
    	transition:opacity 1000ms cubic-bezier(0.455,0.03,0,1);
    }
    .menu-footer{
        opacity: 1;
        transition:opacity 1000ms cubic-bezier(0.455,0.03,0,1);
    }
}

.no-padding{
    padding: 0 !important;
}
