{{!< default}}
<main role="main">
	{{> header }}
	<div id="hero"></div>
	<div class="container">
		<section class="feed">
			{{#foreach posts}}
				{{> post }}
			{{/foreach}}
		</section>
	</div>
	{{> footer }}
</main>
