{{!< default}}
<div class="wrapper">
	{{> header }}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="typingText">
					<p>Clear thinking at the wrong moment can stifle 
						<span>
							<span id="typing">creativity</span>
						</div>
					</p>
				</div>
			</div> 
		</div>
	</div>
</div>
