{{!< default}}
<main role="main">
	{{> header }}
	<div id="hero" style="background-image: url({{@blog.cover_image}})">
		<div class="typingText">
			<p>
				Para crear el futuro es necesario <br><span id="typing">creer</span>
			</p>
		</div>
	</div>
	<div class="container">
		<section class="feed">
			{{#foreach posts}}
				{{> post }}
			{{/foreach}}
		</section>
	</div>
	{{> footer }}
</main>
