header{
    background-color: rgba(255,255,255,0);
    backface-visibility: hidden;
    left: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 100000;
}

.menuLogoContainer{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
	width: 100%;
}

.logo{
	img{
		width: 200px;
	}
}

.toggle{
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin: 15px;
    position: relative;
    width: 35px;
    span{
        background-color: black;
        display: block;
        height: 3px;
        position: absolute;
        top: 50%;
        transition: all ease 320ms;
        width: 35px;
        &:nth-child(1){
            transform: translateY(-10px);
        }
        &:nth-child(4){
            transform: translateY(10px);
        }
    }
}

.toggle.active{
    z-index: 101;
    span{
        background-color: white;
        &:nth-child(1){
            opacity: 0;
            transform: translateY(-15px);
        }
        &:nth-child(4){
            opacity: 0;
            transform: translateY(15px);
        }
        &:nth-child(2){
            transform: rotate(-45deg);
            transition-delay: 200ms;
        }
        &:nth-child(3){
            transform: rotate(45deg);
            transition-delay: 200ms;
        }
    }
}

.toggleColumn{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.typingText{
    padding: 50px 0;
    p{
        color: black;
        font-family: 'Inconsolata', sans-serif;
        font-size: 3.75rem;
        line-height: 5.625rem;
        text-align: justify;
        &::selection{
            background-color: $dark-primary-color;
            color: $light-primary-color;
        }
        span{
            &:first-child{
                background: $dark-primary-color;
                color: $light-primary-color;
                display: inline-block;
                font-size: 3.75rem;
                line-height: 5.625rem;
                min-height: 3.75rem;
                padding: 0 10px;
            }
        }
    }
}

.menuFullWidth{
    background-color: rgba(26,26,26,.9);
    font-family: 'Inconsolata', sans-serif;
    height: 100%;
    left: 0;
    position: fixed;
    opacity: 0;
    text-align: center;
    top: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: -1;
    &.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
        z-index: 100;
        nav{
            ul{
                li{
                    &:nth-child(n + 1){
                        a{
                            transition-duration: 260ms;
                        }
                    }
                    &:nth-child(n + 2){
                        a{
                            transition-duration: 320ms;
                        }
                    }
                    &:nth-child(n + 3){
                        a{
                            transition-duration: 400ms;
                        }
                    }
                    &:nth-child(n + 4){
                        a{
                            transition-duration: 500ms;
                        }
                    }
                    &:nth-child(n + 5){
                        a{
                            transition-duration: 620ms;
                        }
                    }                     
                    a{
                        opacity: 1;
                        transition-delay: 80ms;
                    }
                }
            }
        }
    }
    nav{
        display: inline-block;
        margin-top: 5rem;
        ul{
            list-style: none;
            padding-left: 0;
            li{
                margin-top: .8rem;
                a{
                    color: $light-primary-color;
                    display: inline-block;
                    font-size: 2rem;
                    position: relative;
                    opacity: 0;
                    text-decoration: none;
                    transition: all 320ms cubic-bezier(.455,.030,.515,.955);
                    &.current::after{
                        width: 100%;
                    }
                    &::after{
                        background-color: $light-primary-color;
                        content: '';
                        display: block;
                        height: 2px;
                        transition: width 320ms ease;
                        width: 0;
                    }
                    &:hover::after{
                        transition: width 320ms ease;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.menuFullWidthBottom{
    bottom:0;
    left: 0;
    margin-bottom: 2rem;
    position: absolute;
    right: 0;
    .container{
        border-top: 1px solid rgba(255,255,255,.2);
        .col-md-6{
            padding-right: 0;
        }
        .copyright{
            color: white;
            padding: 1rem 0;
            text-align: left;
        }
        .socialContainer {
            padding: 1rem 0;
            text-align: right;
            ul{
                display: inline-block;
                list-style: none;
                margin-bottom: 0;
                li{
                    display: inline-block;
                    padding: 0 5px;
                    text-align: center;
                    &:nth-child(3){
                        a{
                            padding-top: 0;
                        }
                    }
                    a{
                        background-color: white;
                        border-radius: 50%;
                        display: inline-block;
                        font-size: 15px;
                        height: 24px;
                        padding-top: 2px;
                        width: 24px;
                        i{
                            color: $dark-primary-color;
                        }
                    } 
                }
            }
        }
    }
}